.Main
  .introduction
    .introduction__title
      人生を変えるフリマアプリ
    .introduction__text
      FURIMAはだれでもかんたんに出品・購入できるフリマアプリです
    .introduction__link
      = link_to "#", class: "banner__link__a-btn" do
        = image_tag 'material/logo/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "banner__link__a-btn__image"
      = link_to "#", class: "banner__link__g-btn" do
        = image_tag 'material/logo/google-play-badge.png', class: "banner__link__g-btn__image"

  .reason

  .appeal

  .originality

  .index

