.header

.my_page
  .main
    .contents
      = render "left_menu"
      
      .contents__content
        %li.contents__content__index
          %a.contents__content__index--area.logout{href: "#"}
            %p ログアウト




.app__footer


.footer
