.header

.my_page
  .main
    .contents
      = render "left_menu"
      .contents__content

        .new_credit_title
          %h1 クレジットカード情報入力
        .new_credit_form_wrapper
          .new_credit_form_wrapper__contents
            -# =form_with do |f|






.app__footer


.footer