.Header {
  list-style: none;
  background-color: $white;
  width: 100vw;
  height: 100px;
  position: relative;
  margin: 0 auto;
  padding: 0 90px;
  z-index: 1;
  text-align: center;
}

  .header__upper {
    list-style: none;
    background-color: $white;
    color: black;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    display: flex;
  }

    .title {
      list-style: none;
      width: 200px;
      height: 100%;

      &__logo {
        width: 150px;
        height: 40px;
        padding-right: 10px;
      }
    }

    .searchform {
      list-style: none;
      width: 100%;
      height: 100%;

      &__text {
        list-style: none;
        width: 100%;
        height: 35px;
      }

    }

    .submit {
      list-style: none;
      width: 50px;
      height: 100%;
    }

    .submitbtn {
      background-color: $green;
      width: 30px;
      height: 35px;
      display: none;

      &__btn {
        background-color: $green;
        width: 35px;
        height: 35px;
        cursor: pointer;
      }

      &__icon {
        background-color: $green;
        width: 20px;
        height: 20px;
      }
    }

a {
  text-decoration: none;
  color: $thickgray;
  font-size: 14px;
}
    
  .header__lower {
    list-style: none;
    background-color: $white;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    .header__sub__leftBox__list {
      line-height: 30px;
      padding-top: 10px;
      .header__sub__leftBox__list__categoryMenu {
        a{
          display: inline-block;
          width: 210px;
          height: 40px;
        }
        ul.header__sub__leftBox__list2{
          left: 200px;
        }
        ul.header__sub__leftBox__list3{
          left: 400px;
          width: 250px;
        }
        .header__sub__leftBox__list__categoryMenu__secondLevel--list {
          position: relative;
          a{
            display: inline-block;
            width: 210px;
          }
          .header__sub__leftBox__list__categoryMenu__thirdLevel{
            position: absolute;
            background: royalblue;
            left: 200px;
            top: 0;
            .header__sub__leftBox__list__categoryMenu__thirdLevel--list{
            
              .header__sub__leftBox__list__categoryMenu__fourthLevel{

                .header__sub__leftBox__list__categoryMenu__fourthLevel--list{

                }
              }
            }
          }
        }
      }
      
      .brand {
        background-color: $white;
        width: 50%;
        height: 50px;
        .dropdown-btn2{
          text-align: left;
          .dropdown{
            display: none;
            width: 300px;
          }
        }
      }
    }
    .delete-button {
      display: none;
      position: absolute;
      top: 3%;
      left: 85%;
      opacity: 0.5;
    }
    
    .delete-button:hover {
        opacity: 0.9;
    }

    *{margin:0;padding:0;text-align: center;}

    ul {list-style: none;}
    ul.header__sub__leftBox__list{position: relative;}
    ul.header__sub__leftBox__list > li{
        float: left;
        width:200px;
    }

    ul.header__sub__leftBox__list > li ul{
        display: none;    
        position: absolute;  /*ul.global_menu に対して位置指定*/
        top:50px;
        left:0;
        width: 100%; /*横幅いっぱいに広げる*/
    }
    
    ul.header__sub__leftBox__list > li > ul > li{
        width:100%;
        float: left;
        background: $white;
    }
    
    ul.header__sub__leftBox__list > li:hover ul{
        display: block;
    }



    .userpage {
      list-style: none;
      display: flex;

      &__info {
        padding-right: 30px;
      }

      &__todo {
        padding-right: 30px;
      }
    }
  }

  // 未ログインの時の表記について
    // .userlogin {
    //   list-style: none;
    //   background-color: $white;
    //   display: flex;
    //   width: 200px;
    //   height: 50px;
    //   text-decoration: none;
    // }

    //   .login {
    //     background-color: $white;
    //     width: 100px;
    //     height: 50px;
    //   }

    //   .registration {
    //     background-color: $white;
    //     width: 100px;
    //     height: 50px;
    //   }

    //   a {
    //     text-decoration: none;
    //     color: black;
    //   }

