.Header {
  list-style: none;
  background-color: $white;
  width: 100vw;
  height: 100px;
  position: relative;
  margin: 0 auto;
  padding: 0 90px;
  z-index: 1;
  text-align: center;
}

  .header__upper {
    list-style: none;
    background-color: $white;
    color: black;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    display: flex;
  }

    .title {
      list-style: none;
      width: 200px;
      height: 100%;

      &__logo {
        width: 150px;
        height: 40px;
        padding-right: 10px;
      }
    }

    .searchform {
      list-style: none;
      width: 100%;
      height: 100%;
      &--form{
        display: flex;
      }
      .item_search{
        width: 100%;
        display: flex;
        align-items: center;
      }
      &__text {
        display: inline-block;
        list-style: none;
        width: 100%;
        height: 35px;
      }

    }

    .submit {
      list-style: none;
      width: 50px;
      height: 100%;
    }

    .submitbtn {
      background-color: $green;
      width: 30px;
      height: 35px;
      display: none;

      &__btn {
        background-color: $green;
        width: 35px;
        height: 35px;
        cursor: pointer;
      }

      &__icon {
        background-color: $green;
        width: 20px;
        height: 20px;
      }
    }

a {
  text-decoration: none;
  color: $thickgray;
  font-size: 14px;
}
    

  .header__lower {
    list-style: none;
    background-color: $white;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
  }

    .productlist {
      list-style: none;
      background-color: $white;
      display: flex;
      width: 200px;
      height: 50px;
    }

      .category {
        background-color: $white;
        width: 100px;
        height: 50px;
      }

      .brand {
        background-color: $white;
        width: 100px;
        height: 50px;
      }

    .userpage {
      list-style: none;
      display: flex;

      &__info {
        padding-right: 30px;
      }

      &__todo {
        padding-right: 30px;
      }
    }


  // 未ログインの時の表記について
    .userlogin {
      list-style: none;
      background-color: $white;
      display: flex;
      width: 200px;
      height: 50px;
      text-decoration: none;
    }

      .login {
        background-color: $white;
        width: 100px;
        height: 50px;
      }

      .registration {
        background-color: $white;
        width: 100px;
        height: 50px;
      }

      a {
        text-decoration: none;
        color: black;
      }

