.header
  .header__logo
    = link_to '#' do
      = image_tag 'logo.png', class: "header__logo--image"
.main
  .main__contents
    .main__contents__title
      購入内容の確認
    .main__contents__item-box
      .main__contents__item-box__item
    .main__contents__price-box
      .main__contents__price-box__price
        .main__contents__price-box__price__top
          .main__contents__price-box__price__top__left
            支払い金額
          .main__contents__price-box__price__top__right
            ¥630
        .main__contents__price-box__price__bottom
          ポイントを使用（所持ポイント:P0）
      .main__contents__price-box__way
        .main__contents__price-box__way__top
          支払い方法
        .main__contents__price-box__way__bottom
          登録してください
      .main__contents__price-box__delivery
        .main__contents__price-box__delivery__top
          配送先
        .main__contents__price-box__delivery__bottom
          登録してください
      .main__contents__price-box__buy
        購入する
