-# .main
-#   %section.main__block
-#     = form_with model:@item, local:true do |f|
-#       %h2.sell__block__head
-#         商品の情報を入力
-#       .sell__block__form
-#         .sell__block__form__upload
-#           %h3.sell__block__form__upload__head
-#             出品画像
-#             %span.require 必須
-#           %p 最大10枚までアップロードできます
-#           #image-box-1
-#             .item-num-0#image-box__container
-#               = f.fields_for :images do |i|
-#                 .input-area
-#                   = i.file_field :image, type: 'file', name: "item[images_attributes][][image_url]", value:"", style: "display:none", id:"img-file"
-#                   %label{for: "img-file"}
-#                     %i.fas.fa-camera

-#         .sell__block__form__name
-#           .form-group__name
-#             %label
-#               商品名
-#               %span.require 必須
-#             %div
-#               = f.text_field :name, placeholder:"商品名（必須 40文字まで)",class: "form__group__name"

-#         .sell__block__form__btn
-#           %div
-#             = f.submit "出品する",class: "btn-default__btn-red"

-#             -# - @category.each do |parent|
-#             -#   =parent.name
-#             -# - parent.children.each do |child|
-#             -#   =child.name  
-#             -# - child.children.each do |grandchild|
-#             -#   =grandchild.name