.main {
  &__contents {
    width: 800px;
    text-align: center;
    &__title {
      height: 100px;
      width: 100%;
      font-weight: bold;
      font-size: 22px;
      padding: 32px;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
    }
    &__item-box {
      height: 200px;
      width: 100%;
      border-bottom: 1px solid #f5f5f5;
      display: flex;
      justify-content: center;
      &__item {
        height: 200px;
        width: 45%;
        display: flex;
        justify-content: space-between;
        &__image {
          height: 80px;
          width: 80px;
          background-color: yellowgreen;
          margin-top: 60px;
        }
        &__detail {
          margin-top: 60px;
        }
      }
    }
    &__price-box {
      padding-bottom: 48px;
      width: 500px;
      padding: 0px 150px;
      &__price {
        width: 500px;
        height: 100px;
        border-bottom: 1px solid #f5f5f5;
        &__top {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          margin-top: 10px;
          font-weight: bold;
          font-size: 20px;
          &__left {
            margin-left: 20px;
          }
          &__right {
            margin-right: 20px;
          }
        }
        &__bottom {
          bottom: 0;
          margin-right: 200px;
        }
      }
      &__way {
        width: 500px;
        height: 100px;
        border-bottom: 1px solid #f5f5f5;
        &__top {
          margin-bottom: 30px;
          margin-top: 10px;
          margin-right: 380px;
          font-weight: bold;
        }
        &__bottom {
          margin-right: 160px;
          color: #0099e8;
        }
      }
      &__delivery {
        width: 500px;
        height: 100px;
        border-bottom: 1px solid #f5f5f5;
        &__top {
          margin-bottom: 30px;
          margin-top: 10px;
          margin-right: 400px;
          font-weight: bold;
        }
        &__bottom {
          margin-right: 160px;
          color: #0099e8;
        }
      }
      &__buy {
        padding: 32px 0;
        border: 1px solid #888;
        background: #888;
        color: #fff;
        display: block;
        width: 500px;
        height: 50px;
        line-height: 5px;
        font-size: 14px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}
