.itemslist_main {
  list-style: none;
  width: 100vw;
  height: 800px;
  padding-left: 100px;
  padding-right: 10px;
  background-color: paleturquoise;

  &__title {
    background-color: papayawhip;
  }

  &__contents {
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    display: flex;
    flex-flow: row wrap; /*flex-direction + flex-wrapの記述が可能*/
    // flex-flow: column wrap;
    // justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;
    

    &__list {
      background-color: mistyrose;
      width: 18%;
      height: 20%;
      margin-right: 10px;
      margin-left: 10px;
    }

    
  }


}