.header{
  height: 100px;
  width: 100vw;
  background-color: blue;
}

.my_page{
  .main{
    width: 100vw;
    background-color: $thingray;
    padding: 40px 0;
    .contents{
      width: 1020px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      &__list{
        width: 280px;
        ul{
          li{
            height: 48px;
            width: 100%;
            background-color: #fff;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px 0 20px;
            margin-bottom: 1px;
            a{
              position: absolute;
              top: 0;
              left: 0px;
              height:100%;
              width: 100%;
            }
            i{
              font-size: 25px;
              color: #eee;
            }
            p{
              font-size: 15px;
            }
          }
        }
        h1{
          margin: 30px 0 3px 4px;
          font-weight: bold;
        }
        
      }
    }
  }
}

.contents__content{
  width: 700px;
  &__user_icon{
    height: 200px;
    width: 100%;
    background-image: url(water-1330252_1920.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: $white;
    a{
      position: absolute;
      top: 0;
      left: 0px;
      height:100%;
      width: 100%;
    }
    h1{
      font-size: 30px;
    }
  }
  &__change_2{
    background-color: rgb(196, 193, 193);
    display: flex;
    font-size: 17px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    &--left{
      height: 80px;
      width: 50%;
      background-color: $white;
      border-top: 2px solid red;
    }
    &--right{
      height: 80px;
      width: 50%;
    }
  }
}

.app__footer{
  height: 500px;
  width: 100vw;
  background-color: green;
}

.footer{
  height: 500px;
  width: 100vw;
  background-color: black;
}


