.header {
  height: 130px;
  background-color: white;
  &__logo {
    text-align: center;
    &--image{
      height: 80px;
      margin-top: 23px;
    }
  }
}
.contents {
  width:350px;
  margin: 0 auto;
  &__message{
    padding: 32px;
    color:black;
    font-size: 22px;
    text-align: center;
  }
  .new_user{
    .field{
      margin-top: 32px;
      &__required{
        background-color: #EA352D;
        color: $white;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        vertical-align: top;
      }
      &__input{
        height: 30px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: $white;
        line-height: 1.5;
        font-size: 16px;
        width: 100%;
      }
      &__name{
        display: flex;
        &__half{
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: $white;
          line-height: 1.5;
          font-size: 16px;
          margin-right: 10px;
          width: 100%;
        }
      }
    }
  }
    .identification{
      width: 390px;
      margin-top: 32px;
    }
  .actions{
    &__submit{
      background: #EA352D;
      border: 1px solid #EA352D;
      color: $white;
      display: block;
      width: 350px;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
      margin-top: 40px;
    }
  }
}
.footer{
  height: 220px;
  margin: 0 auto;
  background-color: $thingray;
}