.header
  = render "shared/header"

.itemslist_main
  .itemslist_main__title
    商品一覧
  %ul.itemslist_main__contents
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list
    %li.itemslist_main__contents__list



.banner
  = render "shared/banner"

.footer
  = render "shared/footer"